/*
	Author : Nikhil Prakash
	Version: 1.0.5
*/

 #resizable { width: 80px; height: 50px; padding: 0.5em; }

 #dashboard {
	width: 60px;
	background-color: rgb(110,138,195);
	padding: 20px 20px 10px 20px;
	position: absolute;
	top:55px;
	left: -92px;
	z-index: 100;
}

#dashboard img.sliderInfo {
	position: relative;
	left:70px;
	border-radius:5;
	top:-50px;
}

#dashboard img{
	border-radius:20px;
}

#dashboard img.item:hover{
	box-shadow:0 0 20px red;
}

#imgchooseOpt{
	position: relative;
	border-style: solid;
	background-color: rgb(105,125,194);
	width: 30%;
}

#transitions{
	position: relative;
	border-style: solid;
	background-color: rgb(105,125,194);
	width: 60%;
}

button[name="uploadImg"]:hover,
button[name="chooseImg"]:hover{

	box-shadow: 0 0 15px blue;
}

.ajax-upload-dragdrop{
	background-color:rgb(105,125,194); 
	position: relative;
	top:-280px;
	left:500px;
	width: 30%;
}

#imgchooseOpt p{
	position: relative;
	width: 30%;
	margin: auto;
	padding:5px;
}

.slide {
	position: relative;
	float:left;
	top:100px;
	left:30px;
	margin-right: 15px;
	margin-top: 15px;
	width: 300px;
	height: 200px;
	opacity: 0.8;
	background-color: #ffc754;
}

.video img {
	position: relative;
	top:40px;
	left:530px;
	width:34px;
	height: 34px;
	margin: 20px;
	box-shadow: -6px -8px 10px gray, -4px 7px 10px gray, 6px -4px 10px gray;
	transition: box-shadow .4s ease;
	border-radius: 50px;
}

.video img:hover{
	box-shadow: -6px -8px 10px green, -4px 7px 10px green, 6px -4px 10px green;
}

.glow{
	box-shadow:0 0 20px blue;
}

.zoomin{
	transform:scale(1.5,1.5);
}

.zoomout{
	transform:scale(0.5,0.5);
}

.slidepara{
	position: absolute;
}


/*#draggable, #draggable2 { 
	width: 100px; 
	height: 100px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0; 
}

 #droppable { 
 	width: 150px; 
 	height: 150px; 
 	padding: 0.5em; 
 	float: left; 
 	margin: 10px; 
 }
 */